workflows/24dQZWadNRSwtmVT.json
{
  "active": false,
  "connections": {
    "Notion (get highest custom_id)": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion (get highest custom_id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion (get all Songs in Status Produced)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive (erstelle Ordner)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion (get all Songs in Status Produced)2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive (erstelle Ordner)": {
      "main": [
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion (get all Songs in Status Produced)3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Notion3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        [
          {
            "node": "Notion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Notion (get all Songs in Status Produced)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Notion (get all Songs in Status Produced)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Notion (get all Songs in Status Produced)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Google Drive5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive5": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive6": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "Google Drive6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "Google Drive7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive7": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-15T11:05:22.091Z",
  "id": "24dQZWadNRSwtmVT",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Save to GDrive",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1d5ab5af-d8fd-80bd-9541-fff9b0fdb556",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://www.notion.so/1d5ab5afd8fd80bd9541fff9b0fdb556"
        },
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "custom_id|rich_text",
              "condition": "starts_with",
              "richTextValue": "=LBVMusicId-{{ new Date().getFullYear() }}-"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "custom_id|rich_text",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        320,
        60
      ],
      "id": "b3936793-d785-4194-aaa6-5b64eb3216c8",
      "name": "Notion (get highest custom_id)",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "zcMkS7fiCpPyLp07",
          "name": "Notion Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        60,
        60
      ],
      "id": "b0a03b4c-0ee1-469b-8f64-996f1936425b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "=custom_id|rich_text",
              "textContent": "=LBVMusicId-{{ new Date().getFullYear() }}-{{ $json.property_custom_id ? parseInt($json.property_custom_id.split('-').pop()) + 1 : 1 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        620,
        120
      ],
      "id": "2a260bee-bb0d-40ea-a2e7-cf1cbe410087",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "zcMkS7fiCpPyLp07",
          "name": "Notion Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1d5ab5af-d8fd-80bd-9541-fff9b0fdb556",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://www.notion.so/1d5ab5afd8fd80bd9541fff9b0fdb556"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "equals",
              "statusValue": "Produced"
            },
            {
              "key": "custom_id|rich_text",
              "condition": "is_empty"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "custom_id|rich_text",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -160,
        60
      ],
      "id": "711f3fc7-837d-44b8-a346-285d291b8f91",
      "name": "Notion (get all Songs in Status Produced)",
      "credentials": {
        "notionApi": {
          "id": "zcMkS7fiCpPyLp07",
          "name": "Notion Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create Custom ID\nund update Notion",
        "height": 360,
        "width": 1060,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        -20
      ],
      "id": "7a00d2c3-fa1b-416f-b823-a64134eb5da3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        780,
        -240
      ],
      "id": "714379c8-931a-44eb-b4ea-1c4369f7326c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1d5ab5af-d8fd-80bd-9541-fff9b0fdb556",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://www.notion.so/1d5ab5afd8fd80bd9541fff9b0fdb556"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "equals",
              "statusValue": "Produced"
            },
            {
              "key": "custom_id|rich_text",
              "condition": "is_not_empty"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "custom_id|rich_text",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        560,
        -240
      ],
      "id": "6ad4f67b-4fa6-4d64-9571-19e9244d9de9",
      "name": "Notion (get all Songs in Status Produced)2",
      "credentials": {
        "notionApi": {
          "id": "zcMkS7fiCpPyLp07",
          "name": "Notion Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.property_custom_id }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1C-5_CVEmvk625FSq98w1VOEy-G1kUgF7",
          "mode": "list",
          "cachedResultName": "Music Content Creator",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1C-5_CVEmvk625FSq98w1VOEy-G1kUgF7"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1000,
        -240
      ],
      "id": "b0c9fa24-71f8-478b-ae56-223e051b30e6",
      "name": "Google Drive (erstelle Ordner)",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pUAhW2e5sqUMqdXa",
          "name": "Google Drive Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1d5ab5af-d8fd-80bd-9541-fff9b0fdb556",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://www.notion.so/1d5ab5afd8fd80bd9541fff9b0fdb556"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "equals",
              "statusValue": "Produced"
            },
            {
              "key": "custom_id|rich_text",
              "condition": "is_not_empty"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "custom_id|rich_text",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1080,
        -600
      ],
      "id": "87dbb485-3801-4135-976b-81b2ece9c442",
      "name": "Notion (get all Songs in Status Produced)3",
      "credentials": {
        "notionApi": {
          "id": "zcMkS7fiCpPyLp07",
          "name": "Notion Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1300,
        -600
      ],
      "id": "3410b3d7-73f1-454d-bef3-3ee986e41c9f",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url1 }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image_url1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        -600
      ],
      "id": "90fea25f-5766-4e1b-a06b-09a5de67a937",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields').item.json.image_url2 }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image_url2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3480,
        -620
      ],
      "id": "c4173b6f-9a69-4ab6-bc96-8fde325e6a8d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields').item.json.audio_url1 }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio_url1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4860,
        -620
      ],
      "id": "3a0d3fde-7c23-42fa-9e77-36d82641825b",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request').item.json.audio_url2 }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio_url2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5300,
        -620
      ],
      "id": "0ee2eab9-24ed-4d3a-afcf-e77297f3bec0",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion (get all Songs in Status Produced)2').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "gdrive-folder|rich_text",
              "textContent": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1220,
        -240
      ],
      "id": "a1ed2239-9af9-4d46-833f-cbb04b43baa2",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "zcMkS7fiCpPyLp07",
          "name": "Notion Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "image_url1",
        "name": "cover1_orig.jpeg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.gdrive_folder }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2400,
        -600
      ],
      "id": "a0d342e0-bae9-49a3-94f2-41ef592ea8d0",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pUAhW2e5sqUMqdXa",
          "name": "Google Drive Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95e43e7a-d0a5-4f86-82be-d480a3683dbc",
              "name": "image_url2",
              "value": "={{ $('Loop Over Items2').item.json.property_image_url2 }}",
              "type": "string"
            },
            {
              "id": "f857e88a-23cd-43bd-9bbf-63a4ae989136",
              "name": "image_url1",
              "value": "={{ $('Loop Over Items2').item.json.property_image_url1 }}",
              "type": "string"
            },
            {
              "id": "29b25c38-d0be-4302-89c2-a76dc5916749",
              "name": "audio_url1",
              "value": "={{ $('Loop Over Items2').item.json.property_audio_url1 }}",
              "type": "string"
            },
            {
              "id": "eccc42f8-b492-44a2-8e42-73506af83344",
              "name": "audio_url2",
              "value": "={{ $('Loop Over Items2').item.json.property_audio_url2 }}",
              "type": "string"
            },
            {
              "id": "6daf7277-96ab-462f-a5e0-85ab29c3ca1f",
              "name": "gdrive_folder",
              "value": "={{ $('Loop Over Items2').item.json.property_gdrive_folder }}",
              "type": "string"
            },
            {
              "id": "0b24effd-439c-4ecd-96cb-8204c2c93543",
              "name": "title",
              "value": "={{ $('Loop Over Items2').item.json.name }}",
              "type": "string"
            },
            {
              "id": "da5f8010-39ee-4ac2-9079-80e52f94c3e7",
              "name": "version_line",
              "value": "={{ $('Loop Over Items2').item.json.property_version_line }}",
              "type": "string"
            },
            {
              "id": "aafb13da-d148-4037-ba65-6a7854a81372",
              "name": "category",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1960,
        -600
      ],
      "id": "3b98f407-53d2-4810-9300-5f39624c7729",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputDataFieldName": "image_url2",
        "name": "cover2_orig.jpeg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.gdrive_folder }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3700,
        -620
      ],
      "id": "2ed50a24-3fd3-4e11-8e8d-d7d1c611e396",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pUAhW2e5sqUMqdXa",
          "name": "Google Drive Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "audio_url1",
        "name": "song1.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.gdrive_folder }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5080,
        -620
      ],
      "id": "1173b508-df7a-4fca-a0fa-0f719bf91de5",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pUAhW2e5sqUMqdXa",
          "name": "Google Drive Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "audio_url2",
        "name": "song2.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.gdrive_folder }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5480,
        -620
      ],
      "id": "622643a3-b070-494a-9907-3c748691b886",
      "name": "Google Drive4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pUAhW2e5sqUMqdXa",
          "name": "Google Drive Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create Custom Folder\nin GDrive",
        "height": 360,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        -380
      ],
      "id": "31595666-b62e-45d8-a13b-ed0178b9dd9a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Upload Files\nto GDrive\nupscale covers in the process",
        "height": 320,
        "width": 5020,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        -700
      ],
      "id": "92074562-b0e9-423a-af50-1356cb733d36",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion (get all Songs in Status Produced)3').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "gdrive_upload_complete|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Status|status",
              "statusValue": "Ready to generate Channel Content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        5680,
        -620
      ],
      "id": "2b8a3649-9cfd-4602-bd08-7976a7e28fd3",
      "name": "Notion2",
      "credentials": {
        "notionApi": {
          "id": "zcMkS7fiCpPyLp07",
          "name": "Notion Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -240
      ],
      "id": "612b2996-7e7c-49f1-8b2b-7f39728f15c2",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return {};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        -600
      ],
      "id": "15380e95-90b9-4803-b4f4-37a204edb066",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        60
      ],
      "id": "7d45c711-ab6b-4f62-9c98-2a16d975677b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.replicate_upscaler }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"version\": \"f121d640bd286e1fdc67f9799164c1d5be36ff74576ee11c803ae5b665dd46aa\",\n\t\"input\": {\n      \"image\": \"{{ $('Edit Fields').item.json.image_url1 }}\",\n      \"scale\": 9\n\t}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        -280
      ],
      "id": "2e77e59f-67d2-43fd-b765-ed542a99860e",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "inputDataFieldName": "image_url1_upscaled",
        "name": "cover1_upscaled.jpeg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.gdrive_folder }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2880,
        -280
      ],
      "id": "4f5bc614-6ee3-42fb-b2f3-78fc5f9d1b21",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pUAhW2e5sqUMqdXa",
          "name": "Google Drive Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image_url1_upscaled"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2700,
        -280
      ],
      "id": "24a2c0bf-b5d2-466a-9baa-258241d9d234",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "content": "## upscale covers",
        "height": 260,
        "width": 2440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1820,
        -360
      ],
      "id": "8b26e689-d88a-4700-bd98-99433d18bade",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.replicate_upscaler }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"version\": \"f121d640bd286e1fdc67f9799164c1d5be36ff74576ee11c803ae5b665dd46aa\",\n\t\"input\": {\n      \"image\": \"{{ $('Edit Fields').item.json.image_url2 }}\",\n      \"scale\": 9\n\t}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        -300
      ],
      "id": "0730a1cd-8354-4be1-be91-a0dadbe55264",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "inputDataFieldName": "image_url2_upscaled",
        "name": "cover2_upscaled.jpeg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.gdrive_folder }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4220,
        -300
      ],
      "id": "ec5f7b84-4640-4138-aee1-f9e841ab3da3",
      "name": "Google Drive5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pUAhW2e5sqUMqdXa",
          "name": "Google Drive Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image_url2_upscaled"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4040,
        -300
      ],
      "id": "45f85d3c-d8fc-4686-9243-fb76a5a4934c",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "inputDataFieldName": "cover1_final",
        "name": "cover1_final.jpeg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.gdrive_folder }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3280,
        -20
      ],
      "id": "195d61f0-abed-4349-9970-ccad3a21818d",
      "name": "Google Drive6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pUAhW2e5sqUMqdXa",
          "name": "Google Drive Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "content": "## create final Covers",
        "height": 260,
        "width": 2520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2340,
        -80
      ],
      "id": "d0fcb7eb-c8bf-4735-9631-b9926ea16fcc",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.music_content_creation_automation_render_endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.music_content_creation_automation_token\t }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"background_url\": \"{{ $('HTTP Request4').item.json.output }}\",\n  \"logo_url\": \"{{ $vars.cover_logo_url }}\",\n  \"titel\": \"{{ $('Edit Fields').item.json.title }}\\n({{ $('Edit Fields').item.json.category }} {{ $('Edit Fields').item.json.version_line }})\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "cover1_final"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3060,
        -20
      ],
      "id": "3cd9b886-aaf1-4580-bad0-a23157598557",
      "name": "HTTP Request12"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.property_category[0] }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1600,
        -600
      ],
      "id": "8826c61c-7e41-4a61-9a8c-924b19bee5b5",
      "name": "Notion3",
      "credentials": {
        "notionApi": {
          "id": "zcMkS7fiCpPyLp07",
          "name": "Notion Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "cover2_final",
        "name": "cover2_final.jpeg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.gdrive_folder }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4700,
        -20
      ],
      "id": "c4bff0ba-6547-4ab3-b24b-dcec19743f4c",
      "name": "Google Drive7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pUAhW2e5sqUMqdXa",
          "name": "Google Drive Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.music_content_creation_automation_render_endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.music_content_creation_automation_token\t }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"background_url\": \"{{ $('HTTP Request6').item.json.output }}\",\n  \"logo_url\": \"{{ $vars.cover_logo_url }}\",\n  \"titel\": \"{{ $('Edit Fields').item.json.title }}\\n({{ $('Edit Fields').item.json.category }} {{ $('Edit Fields').item.json.version_line }} 2)\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "cover2_final"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        -20
      ],
      "id": "e344f380-f99d-4b7d-998e-839c36bba7d1",
      "name": "HTTP Request13"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Notion Trigger": {
      "lastTimeChecked": "2025-04-15T13:10:00.000Z",
      "possibleDuplicates": [
        "1d5ab5af-d8fd-81b7-b952-d6fe1fef1b6e",
        "1d5ab5af-d8fd-81a9-ab47-ffeb41940946"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-28T00:40:21.000Z",
  "versionId": "6b9ebfc3-7125-45e7-949c-56725a40acbb"
}