workflows/DFCv3d98i5tNuTnV.json
{
  "active": false,
  "connections": {
    "Erstelle alle Assistenten von aktiven Kategorien": {
      "main": [
        [
          {
            "node": "HTTP Request (List all Vector Stores)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request (List all Files)",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI (Liste Assistenten lesen)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion (get All Items)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over all Assistant": {
      "main": [
        [],
        [
          {
            "node": "OpenAI (delete Assisten)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI (delete Assisten)": {
      "main": [
        [
          {
            "node": "Loop Over all Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request (delete all Vector Stores)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (delete all Vector Stores)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (List all Vector Stores)1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request (delete all Vector Stores)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (delete all Vector Stores)1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (List all Files)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over all Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion (get All Items)": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI (Liste Assistenten lesen)": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-12T20:57:06.416Z",
  "id": "DFCv3d98i5tNuTnV",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "delete all OpenAI Data",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        -400
      ],
      "id": "9bda299c-a751-464d-8d50-6f28cb352e7a",
      "name": "Erstelle alle Assistenten von aktiven Kategorien"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        280,
        -980
      ],
      "id": "e3e73d35-efeb-40ea-b91f-eea0ec81310f",
      "name": "Loop Over all Assistant",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "deleteAssistant",
        "assistantId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        480,
        -900
      ],
      "id": "d765d0ac-d9d3-4801-8fbc-fd12e373c89f",
      "name": "OpenAI (delete Assisten)",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        -580
      ],
      "id": "7a33e413-48ce-48ab-8445-dd83e092fb35",
      "name": "Loop Over Items",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.openai.com/v1/vector_stores/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        -500
      ],
      "id": "ecd6adcc-9a36-4414-9b73-94c533d892e4",
      "name": "HTTP Request (delete all Vector Stores)",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/vector_stores?limit=100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        -580
      ],
      "id": "e3d65bfa-6c4b-4475-9a82-8a648fd32edf",
      "name": "HTTP Request (List all Vector Stores)1",
      "retryOnFail": false,
      "maxTries": null,
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        320,
        -220
      ],
      "id": "5dc62c84-d9e0-4e87-aedc-840ee9913323",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.openai.com/v1/files/{{ $json.data[0].id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -100
      ],
      "id": "2ad4a433-e057-4af4-8c48-9db5fd398ce4",
      "name": "HTTP Request (delete all Vector Stores)1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/files?purpose=assistants&limit=100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        -180
      ],
      "id": "fcf189d3-b746-4a4d-8c26-ea5cda44e89f",
      "name": "HTTP Request (List all Files)",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ALLE Assistenten löschen\nin OpenAI",
        "height": 400,
        "width": 1060
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -1080
      ],
      "id": "1638bb44-e832-4539-a020-b6d8d573f805",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ALLE Vector Stores löschen\nin OpenAI",
        "height": 400,
        "width": 1060
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -680
      ],
      "id": "d304dc41-d749-4713-ae51-a4d541617725",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ALLE Files löschen#\nin OpenAI",
        "height": 400,
        "width": 1060
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -280
      ],
      "id": "ea5db920-439e-49d0-84d1-8164c29465ae",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        280,
        -600
      ],
      "id": "1af4daaf-9048-47f9-bffa-850025b093b9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3a544ea-2236-40ed-979e-4f4bf4b1fa80",
              "leftValue": "={{ $input.first().json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        -180
      ],
      "id": "438521cb-315e-4fc3-baf7-634f25411fc9",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3a544ea-2236-40ed-979e-4f4bf4b1fa80",
              "leftValue": "={{ Object.keys($input.first().json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        -980
      ],
      "id": "86576079-c226-425a-a7c4-065208a2bd52",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3a544ea-2236-40ed-979e-4f4bf4b1fa80",
              "leftValue": "={{ Object.keys($input.first().json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        -580
      ],
      "id": "f303849c-a70a-4b5f-99e3-8fc191d0adbc",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        260,
        -1420
      ],
      "id": "e5a7912b-68ce-474b-b3b6-483116562f39",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Assistend ID|rich_text"
            },
            {
              "key": "Vectore Store ID|rich_text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        480,
        -1300
      ],
      "id": "e6bc3bd2-b1c5-4ce3-8180-42799dc592a6",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "yDYyBY9jyV4cRvEx",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1ceab5af-d8fd-8023-aa4f-d51a41a44be2",
          "mode": "list",
          "cachedResultName": "Kategorien",
          "cachedResultUrl": "https://www.notion.so/1ceab5afd8fd8023aa4fd51a41a44be2"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Assistend ID|rich_text",
              "condition": "is_not_empty"
            },
            {
              "key": "Vectore Store ID|rich_text",
              "condition": "is_not_empty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -140,
        -1360
      ],
      "id": "dcbd27ae-f771-4423-9635-b0470bf75d05",
      "name": "Notion (get All Items)",
      "credentials": {
        "notionApi": {
          "id": "yDYyBY9jyV4cRvEx",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ALLE Assistenten löschen\nin Notion",
        "height": 400,
        "width": 1060,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -1480
      ],
      "id": "82220ac2-fbec-4684-b0b1-39d0fcaf66e1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "list"
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -140,
        -980
      ],
      "id": "3785f066-b9ff-4b5a-8c37-1d9083b6dde8",
      "name": "OpenAI (Liste Assistenten lesen)",
      "executeOnce": false,
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3a544ea-2236-40ed-979e-4f4bf4b1fa80",
              "leftValue": "={{ Object.keys($input.first().json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        -1360
      ],
      "id": "e24e7284-d5aa-4cce-b625-d118b1a66a83",
      "name": "If3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-12T23:49:57.000Z",
  "versionId": "6fb5cb62-dd06-4c32-a40a-25e9af66739c"
}