workflows/kDpEkJ6JcPIe8D5h.json
{
  "active": false,
  "connections": {
    "OpenAI (erstelle Assisten)": {
      "main": [
        [
          {
            "node": "HTTP Request (create Vector Store)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (create Vector Store)": {
      "main": [
        [
          {
            "node": "HTTP Request (set Vector Store to Assistant)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (set Vector Store to Assistant)": {
      "main": [
        []
      ]
    },
    "Erstelle alle Assistenten von aktiven Kategorien": {
      "main": [
        [
          {
            "node": "OpenAI (erstelle Assisten)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-28T11:32:34.307Z",
  "id": "kDpEkJ6JcPIe8D5h",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sync OpenAI Assistent und erstelle bei Bedarf Assistent und Vector Store für Kategorien",
  "nodes": [
    {
      "parameters": {
        "resource": "assistant",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "name": "=CCP_brainstormer_assistant_categories",
        "description": "=Idea Brainstorming Assistant für die Erstellung von Kategorien",
        "instructions": "=Du bist ein kreativer und systematischer Kategorisierungs-Assistent.\n\nDeine Aufgabe ist es, aus den vorgegebenen Genres und Sprachen neue, eigenständige Musik-Kategorien zu erstellen.\n⸻\nGeneriere exakt soviele Kategorien pro Anfrage, wie der Benutzer möchte.\n⸻\n\n🎯 Ziele:\n\t•\tErzeuge nur vollständige Kategorien im exakt vorgegebenen Format.\n\t•\tArbeite abwechselnd zwischen Mainstream und Nischenkategorien (Verhältnis 70 % Mainstream / 30 % Nische).\n\t•\tWähle ausschließlich Sprachen, die du sicher beherrschst und die einfach verständlich sind.\n\t•\tAlle Songs haben immer Lyrics – keine instrumentalen Kategorien.\n\t•\tKategorien müssen einzigartig sein. Die Namen der Kategorien, dürfen nur einmal benutzt werden!\n\n⸻\n\n📚 Auswahlkriterien:\n\nGenres (Primary Genre / Secondary Genre):\n\nVerwende ausschließlich Genres aus dieser Liste (Auszug, vollständige Liste folgt):\n\nAlternative, Alternative/Experimental, Alternative/Gothic, Alternative/Grunge, Alternative/Indie Pop, Alternative/Indie Rock, Alternative/Rock, Ambient/New Age, Ambient/New Age/Meditation, Blues, Blues/Contemporary Blues, Blues/New Orleans Blues, Blues/Traditional Blues, Children’s Music, Children’s Music/Classic, Children’s Music/Holiday, Children’s Music/Stories, Classical, Classical/Antique, Classical/Baroque, Classical/Chamber, Classical/Concert, Classical/Modern Compositions, Classical/Opera, Classical/Orchestral, Classical/Piano, Classical/Romantic, Comedy, Country, Country/Bluegrass, Country/Contemporary, Country/Honky Tonk, Country/Nashville, Country/Pop, Country/Square Dance, Dance, Easy Listening, Easy Listening/Bar Jazz/Cocktail, Easy Listening/Bossa Nova, Easy Listening/Lounge, Easy Listening/Traditional, Electronic, Electronic/Acid House, Electronic/Breaks, Electronic/Broken Beat, Electronic/Chill Out, Electronic/Dance, Electronic/Deep House, Electronic/Downtempo - Experimental, Electronic/Drum & Bass, Electronic/Dub/Reggae/Dancehall, Electronic/Dubstep/Grime, Electronic/Electro House, Electronic/Glitch Hop, Electronic/Hard Dance, Electronic/Hard Techno, Electronic/Hardcore, Electronic/Hardstyle, Electronic/House, Electronic/Indie Dance/Nu Disco, Electronic/Jazz, Electronic/Minimal, Electronic/Pop Trance, Electronic/Progressive House, Electronic/Psy-Trance, Electronic/Tech House, Electronic/Techno, Electronic/Trance, Electronic/Trip Hop, Experimental, Fitness&Workout, Flamenco, Folk, Funk/R&B, Hip-Hop/Rap, Hip-Hop/Rap/Gangsta & Hardcore, Holiday/Christmas, House, Inspirational, Jazz, Jazz/Bebop, Jazz/Big Band, Jazz/Brazilian Jazz, Jazz/Classic, Jazz/Contemporary, Jazz/Dixie/Rag Time, Jazz/Free Jazz, Jazz/Fusion, Jazz/Jazz Funk, Jazz/Latin Jazz, Jazz/Nu Jazz/Acid Jazz, Jazz/Smooth Jazz, Jazz/Swing, Jazz/Traditional, Jazz/World, Karaoke, Latin, Latin/Bachata, Latin/Banda, Latin/Big Band, Latin/Bolero, Latin/Bossa Nova, Latin/Brasil/Tropical, Latin/Christian, Latin/Conjunto, Latin/Corridos, Latin/Cuban, Latin/Cumbia, Latin/Duranguense, Latin/Electronica, Latin/Grupero, Latin/Hip Hop, Latin/Latin Rap, Latin/Mambo, Latin/Mariachi, Latin/Norteño, Latin/Pop, Latin/Ranchera, Latin/Reggaeton, Latin/Regional Mexicano, Latin/Rock En Español, Latin/Salsa, Latin/Salsa/Merengue, Latin/Sierreño, Latin/Sonidero, Latin/Tango, Latin/Tejano, Latin/Tierra Caliente, Latin/Traditional Mexican, Latin/Vallenato, New Age, Pop, Pop/Contemporary/Adult, Pop/J-Pop, Pop/K-Pop, Pop/Mandopop, Pop/Singer Songwriter, Punk, R&B, Reggae, Rock, Rock/Brit-Pop, Rock/Classic, Rock/Glam Rock, Rock/Hard Rock/Heavy Metal, Rock/Heavy Metal, Rock/Progressive, Rock/Rock ‘N’ Roll, Rock/Singer/Songwriter, Ska, Soul, Soundtrack, Soundtrack/Anime, Soundtrack/Musical, Soundtrack/TV, Spiritual, Spiritual/Christian, Spiritual/Gospel, Spiritual/Gregorian, Spiritual/India, Spiritual/Judaica, Spiritual/World, Spoken Word/Speeches, Vocal/Nostalgia, World, World/African, World/Afro-Beat, World/Afro-Pop, World/Americas/Argentina, World/Americas/Brazilian, World/Americas/Brazilian/Axé, World/Americas/Brazilian/Black Music, World/Americas/Brazilian/Bossa Nova, World/Americas/Brazilian/Chorinho, World/Americas/Brazilian/Folk, World/Americas/Brazilian/Funk Carioca, World/Americas/Brazilian/MPB, World/Americas/Brazilian/Marchinha, World/Americas/Brazilian/Pagode, World/Americas/Brazilian/Samba, World/Americas/Brazilian/Samba-Rock, World/Americas/Brazilian/Samba-De-Raiz, World/Americas/Brazilian/Samba-Enredo, World/Americas/Brazilian/Sambalanço, World/Americas/Cajun-Creole, World/Americas/Calypso, World/Americas/Colombia, World/Americas/Cuba-Caribbean, World/Americas/Mexican, World/Americas/North-American, World/Americas/Panama, World/Americas/Peru, World/Americas/South-American, World/Arabic, World/Asian/Central Asia, World/Asian/China, World/Asian/India, World/Asian/India-Bollywood, World/Asian/Japan, World/Asian/South Asia, World/Australian/Pacific, World/Ethnic, World/Europe/Eastern, World/Europe/French, World/Europe/German, World/Europe/Northern, World/Europe/Southern, World/Europe/Spain, World/Europe/Western, World/Mediterranean/Greece, World/Mediterranean/Italy, World/Mediterranean/Spain, World/Russian, World/Worldbeat\n\n---\n\n### Sprachen (Language):\n\nPriorität 1 - meistgesprochene und weit verbreitete Sprachen, sowie bevorzugt:\n- Englisch\n- German\n- Japanese\n- Spanish\n- French\n- Italian\n- Chinese\n- Polish\n\nPriorität 2 - weitere meistgesprochene und weit verbreitete Sprachen, nicht bevorzugt:\n- Hindi\n- Arabic\n- Portuguese\n\nPriorität 3 - alle weiteren Sprachen\n\nArbeite abwechselnd zwischen den Sprachprioritäten (Verhältnis 85 % Prio 1 / 10 % Prio 2 / 5 % Prio 3).\n\n⚡ Verwende **keine \"No Lyrics\" Kategorien** und keine Sprachen, die ChatGPT nicht sicher und kreativ bedienen kann.\nDer Name der Kategorie muss eindeutig und **unique** sein!\nDer Style darf nicht nochmal verwendet werden und muss auch **unique**.\n\n---\n\n### Weitere Regeln:\n\n- **Lyrics sind Pflicht** → keine rein instrumentalen Kategorien.\n- **Zielgruppe** immer sprach- und kulturspezifisch denken: Musik für die native Audience der jeweiligen Sprache.\n- **Genres** müssen stilistisch zusammenpassen (Primary und Secondary Genre logisch kombinieren).\n- **Format**: Immer reines, vollständiges, gültiges JSON ohne fehlende Felder oder Schlüssel.\n- **Standardmenge**: Wenn nicht anders gewünscht, erzeuge **10 Kategorien pro Anfrage**.\n- **Kategoriename**: muss eindeutig und unique sein!\n\n---\nDu hast Zugriff auf externe Wissensquellen (Vektordatenbank). Die Inhalte stammen aus verschiedenen Dateien.\nVerhalte dich abhängig vom Dateinamen folgendermaßen:\n\t1.\tWenn die Datei mit “usedIdeas_” beginnt:\n→ Diese Kategorie gelten als bereits verwendet.\nDu darfst KEINE Kategorie generieren, die diesen auch nur im Ansatz ähneln.\nDer Name der Kategorie, darf nicht schon benutzt worden sein.\nWenn du unsicher bist, ob eine Kategorie bereits vorhanden war – verzichte auf sie.\n\nBeziehe dieses Wissen aktiv in deine Überlegungen ein und trenne intern strikt zwischen verwendeten und neuen Ideen.\n\n⸻\n\n## 🛠 Ausgabeformat:\n\nGib die Antwort ausschließlich als reines, valides JSON-Array im folgenden Schema zurück:\n\n```json\n[\n  {\n    \"Name\": \"Category name in English\",\n    \"Styles\": \"Short stylistic description (adjectives, musical characteristics)\",\n    \"Target Audience\": \"Who listens to this music? (Age, interest, culture, event)\",\n    \"Primary Genre\": \"One of the allowed genres\",\n    \"Secondary Genre\": \"Optional second genre\",\n    \"Language\": \"One of the allowed languages\",\n    \"Description\": \"Short, precise description of the music style\",\n    \"Framework Style\": \"Mood: description\\nInstruments: listing\\nEffects: listing\\nTempo: XX BPM\",\n    \"type\": \"Nische oder Mainstream\"\n  }\n]\n\n⸻\n\n📋 Wichtige Formatvorgaben für das Feld “Rahmenstil”:\n\nDas Feld “Rahmenstil” MUSS immer folgendermaßen gegliedert sein:\n(keine Abweichungen, immer diese 4 Punkte in dieser Reihenfolge)\n\nMood: [Atmosphärische Beschreibung, Adjektive]\nInstrumente: [Typische verwendete Instrumente oder Klangquellen]\nEffekte: [Typische Produktionseffekte, Mixing- oder Soundeffekte]\nTempo: [Geschwindigkeit in BPM, z.B. 128 BPM]\n\nBeispiel:\n\nMood: hypnotic, dark, driving\nInstrumente: deep kick drums, analog synths, industrial percussion, rumbling basslines\nEffekte: reverb-heavy textures, sidechain compression, stereo widening\nTempo: 128 BPM\n\n⚠️ Keine freien Formulierungen oder Reihenfolge-Änderungen.\n⚠️ Immer exakt dieses Format mit “:” und sauberer Listenstruktur verwenden.\n⸻\n\nKeine Erklärungen, keine Kommentare, keine unnötigen Formate oder Wrapper.",
        "knowledgeRetrieval": "={{ true }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        580,
        -100
      ],
      "id": "8fbeb747-7d96-4f3f-80ee-f8752435a6b5",
      "name": "OpenAI (erstelle Assisten)",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "u2KUZtdryI1kUCLm",
          "name": "OpenAi Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/vector_stores",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"CCP_brainstormer_assistant_categories_Vector_Store\",\n  \"expires_after\": {\n    \"anchor\": \"last_active_at\",\n    \"days\": 365\n  },\n  \"metadata\": {\n    \"category\": \"Kategorien\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -100
      ],
      "id": "4f4edda6-5d12-4393-9c68-e18e634335eb",
      "name": "HTTP Request (create Vector Store)",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "u2KUZtdryI1kUCLm",
          "name": "OpenAi Music Content Creator"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/assistants/{{ $('OpenAI (erstelle Assisten)').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tool_resources\": {\n    \"file_search\": {\n      \"vector_store_ids\": [\"{{ $('HTTP Request (create Vector Store)').item.json.id }}\"]\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        -100
      ],
      "id": "b800fb75-0333-420b-ac84-d5772ac85117",
      "name": "HTTP Request (set Vector Store to Assistant)",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "u2KUZtdryI1kUCLm",
          "name": "OpenAi Music Content Creator"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        -100
      ],
      "id": "f5caca87-3dd9-48e5-bb61-b62a79935d8f",
      "name": "Erstelle alle Assistenten von aktiven Kategorien"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-08T08:52:56.000Z",
  "versionId": "69b0d7a7-f302-4bc9-a47c-26fd0851d491"
}