workflows/MrUynaZ0Tzx1aR8P.json
{
  "active": false,
  "connections": {
    "Notion (ziehe alle Kategorien die aktiv sind)": {
      "main": [
        [
          {
            "node": "Loop Over alle Kathegorien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over alle Kathegorien": {
      "main": [
        [],
        [
          {
            "node": "OpenAI (erstelle Assisten)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI (erstelle Assisten)": {
      "main": [
        [
          {
            "node": "HTTP Request (create Vector Store)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (create Vector Store)": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (set Vector Store to Assistant)": {
      "main": [
        [
          {
            "node": "Loop Over alle Kathegorien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erstelle alle Assistenten von aktiven Kategorien": {
      "main": [
        [
          {
            "node": "Notion (ziehe alle Kategorien die aktiv sind)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "HTTP Request (set Vector Store to Assistant)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-14T13:57:50.036Z",
  "id": "MrUynaZ0Tzx1aR8P",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sync OpenAI Assistent und erstelle bei Bedarf Assistent und Vector Store",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1d5ab5af-d8fd-805f-bb50-cf7162f7c464",
          "mode": "list",
          "cachedResultName": "Kategorien",
          "cachedResultUrl": "https://www.notion.so/1d5ab5afd8fd805fbb50cf7162f7c464"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "equals",
              "statusValue": "Active"
            },
            {
              "key": "Assistend ID|rich_text",
              "condition": "is_empty"
            },
            {
              "key": "Vectore Store ID|rich_text",
              "condition": "is_empty"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "Name|title",
                "direction": "ascending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        0,
        -100
      ],
      "id": "f2364a93-a23c-45c7-9ecf-540da6588987",
      "name": "Notion (ziehe alle Kategorien die aktiv sind)",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "zcMkS7fiCpPyLp07",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        300,
        -100
      ],
      "id": "0a777a09-19d6-4fc8-9d25-1f3ce1769877",
      "name": "Loop Over alle Kathegorien",
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "name": "={{ $vars.CCP_assistentPrefix + $json.property_chat_gpt_experte_name}}",
        "description": "=Idea Brainstorming Assistant für die Kategorie: {{ $json.name }}",
        "instructions": "=Du bist ein kreativer und strategischer Brainstorming-Assistent.\nDeine Aufgabe ist es, neue, originelle und relevante Song-Ideen für die Kategorie “{{ $json.name }}” zu generieren. Die Beschreibung für die Kategorie ist “{{ $json.property_beschreibung }}”.\n\nZielgruppe: {{ $json.property_zielgruppe }}\n\nPrimäres Genre: {{ $json.property_primary_genre }}\nSekundäres Genre: {{ $json.property_secondary_genre }}\nStilrichtung: {{ $json.property_styles }}\nSprache: {{ $json.property_language }}\n\n{{ $json.property_rahmenstil }}\n\nPrimärer Ausspielungskanal: Spotify, Amazon Music, Apple Music\nSonglänge: ca. 3 Minuten, maximal jedoch 3:30 Minuten.\n\nDu hast Zugriff auf externe Wissensquellen (Vektordatenbank). Die Inhalte stammen aus verschiedenen Dateien.\nVerhalte dich abhängig vom Dateinamen folgendermaßen:\n\t1.\tWenn die Datei mit “usedIdeas_{{ $json.property_chat_gpt_experte_name }}” beginnt:\n→ Diese Inhalte gelten als bereits verwendet.\nDu darfst KEINE Inhalte generieren, die diesen auch nur im Ansatz ähneln (Songtitel, Songtext, Thema, Stimmung, Struktur oder Hook).\nWenn du unsicher bist, ob eine Idee bereits vorhanden war – verzichte auf sie.\n\n👉 Zudem gilt:\n\t•\tVerwende keine geschützten Songtexte, Marken, Titel oder urheberrechtlich geschützten Phrasen.\n\t•\tErzeuge ausschließlich eigene, originelle Inhalte.\n\t•\tKopieren oder Remixen bestehender Songs ist untersagt.\n\nBeziehe dieses Wissen aktiv in deine Überlegungen ein und trenne intern strikt zwischen verwendeten und neuen Ideen.\n\n⸻\n\nDenke die Idee primär als vollständiges Songkonzept:\n\t•\tHat der Song eine erkennbare emotionale oder narrative Idee?\n\t•\tGibt es einen eingängigen Titel oder Hook?\n\t•\tIst das Thema und die Sprache passend zur Zielgruppe und Stilrichtung?\n\nMeta Tags & Struktur\n\nVerwende Meta Tags in eckigen Klammern, um den Song zu strukturieren und zusätzliche Details hinzuzufügen.\nDiese Meta Tags dienen als Anweisungen zur Songstruktur, zur Stimmung, zum Instrumenteneinsatz, zu Effekten und zur Gesangsstilistik.\n\nBeispiele für Meta Tags:\n\nSongstruktur (obligatorisch):\n\t•\t[Intro], [Verse], [Chorus], [Pre-Chorus], [Bridge], [Outro], [Hook], [Break]\n\nVocal Style (optional):\n\t•\t[Male Vocal], [Female Vocal], [Duet], [Whisper], [Harmonies], [Spoken Word]\n\nInstrument & Sound (optional):\n\t•\t[Piano Solo], [Guitar Solo], [Lo-fi Beats], [Drum Machine], [Synthwave-Pop], [Distorted Guitar]\n\nMood & Atmosphere (optional):\n\t•\t[Melancholic Atmosphere], [Euphoric Build], [Serene Ambience], [Cosmic Echoes]\n\nEffekt & Stil (optional):\n\t•\t[Fade Out], [Censored], [Building Intensity], [Auto-Tune Vocals]\n\nAnwendung:\n\t•\tDie Songstruktur-Tags sind Pflicht (z. B. [Verse 1], [Chorus], [Bridge] etc.).\n\t•\tWeitere Meta-Tags können ergänzend eingesetzt werden, um dem Song mehr Ausdruck, Charakter oder Detail zu verleihen.\n\n🔹 2. Optional: “Creative Boosts” / Stilvorgaben\n\nDu kannst auch eine Mini-Liste von stilistischen Boosts einfügen – wie „Schreibe den Refrain eingängig & wiederholend“, „Verse = Storytelling, Chorus = Emotion“, etc.\n\nBeispiel:\n\n⸻\n\nKreative Vorgaben (wenn sinnvoll umsetzbar):\n\t•\tVerse = Story, Chorus = Gefühl / Hook\n\t•\tDer Songtext darf mit starken Bildern oder Metaphern arbeiten\n\t•\tChorus kann 2–4x wiederholt werden\n\t•\tVermeide unnötige Wiederholungen außerhalb des Refrains\n\t•\tGerne stiltypische Textbausteine nutzen – aber originell formulieren\n\n⸻\n\nKriterien:\n\t•\tRelevanz für die Zielgruppe\n\t•\tPotenzial für emotionale Verbindung & Wiedererkennung\n\t•\tNoch nicht behandelte Themen (Vermeide Redundanz)\n\t•\tKreativität, aber musikalisch realistisch umsetzbar\n\n⸻\n\nGeneriere exakt soviele Songideen pro Anfrage, wie der Benutzer möchte.\n\n⸻\n\n🟡 Gib deine Antwort ausschließlich als reines, gültiges JSON-Array zurück.\n⚠️ Keine Kommentare, keine erklärenden Sätze davor oder danach, kein Markdown, kein „output“-Wrapper.\n\nNutze exakt diese Struktur:\n\n```json\n[\n  {\n    \"title\": \"Origineller Songtitel\",\n    \"lyrics\": \"[Verse 1]\\nLine 1\\nLine 2\\n\\n[Chorus]\\nLine 1\\nLine 2\\n\\n[Verse 2]\\nLine 1\\nLine 2\\n\\n[Chorus]\\n...\\n\\n[Bridge]\\n...\\n\\n[Outro]\\n...\"\n    \"styles\": \"Beschreibung des Songstils anhand von Rahmenstil und Stilrichtung mit weniger als 120 Zeichen.\",\n    \"keywords\": [\"Begriff1\", \"Begriff2\", \"Begriff3\", \"Begriff4\", \"Begriff5\", \"Begriff6\", \"Begriff7\", \"Begriff8\", \"Begriff9\", \"Begriff10\"]\n  }\n]",
        "knowledgeRetrieval": "={{ false }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        580,
        -100
      ],
      "id": "7bf26b70-8346-4640-9860-f47690af5ec9",
      "name": "OpenAI (erstelle Assisten)",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "u2KUZtdryI1kUCLm",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/vector_stores",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $vars.CCP_assistentVectorStorePrefix + $('Loop Over alle Kathegorien').item.json.property_chat_gpt_experte_name }}\",\n  \"expires_after\": {\n    \"anchor\": \"last_active_at\",\n    \"days\": 365\n  },\n  \"metadata\": {\n    \"category\": \"{{ $('Loop Over alle Kathegorien').item.json.property_chat_gpt_experte_name }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -100
      ],
      "id": "5eaa7c5a-7453-47f3-9faf-c3f96c94a302",
      "name": "HTTP Request (create Vector Store)",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "u2KUZtdryI1kUCLm",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/assistants/{{ $('OpenAI (erstelle Assisten)').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tool_resources\": {\n    \"file_search\": {\n      \"vector_store_ids\": [\"{{ $('HTTP Request (create Vector Store)').item.json.id }}\"]\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -100
      ],
      "id": "2582f524-b4c9-4cf0-9431-855e381dda05",
      "name": "HTTP Request (set Vector Store to Assistant)",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "u2KUZtdryI1kUCLm",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        -100
      ],
      "id": "528095a2-87b3-4c8c-8403-5c3fe1b466c7",
      "name": "Erstelle alle Assistenten von aktiven Kategorien"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Loop Over alle Kathegorien').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Assistend ID|rich_text",
              "textContent": "={{ $('OpenAI (erstelle Assisten)').item.json.id }}"
            },
            {
              "key": "Vectore Store ID|rich_text",
              "textContent": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1040,
        -100
      ],
      "id": "7264c1b6-ee04-4723-b5c1-f37b39c5e78b",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "zcMkS7fiCpPyLp07",
          "name": "Notion account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-15T07:22:01.000Z",
  "versionId": "1fcb0128-1ebf-4a35-ae9d-dbd81a3a142f"
}