workflows/sjPdmZbkohrWTuV8.json
{
  "active": false,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Upload: 2nd Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload: Bons-AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For Folder": {
      "main": [
        [
          {
            "node": "Create-Title-Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create-Title-Folder": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Secs": {
      "main": [
        [
          {
            "node": "Get-URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get-URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-URL": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON 2 VIDEO Upload": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Status-Video-Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status-Video-Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10 Secs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10 Secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main-Video-Orcherstrator-Ingress": {
      "main": [
        [
          {
            "node": "Step Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step Router": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search For Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-Released-Videos": {
      "main": [
        [
          {
            "node": "Status-Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status-Switch": {
      "main": [
        [
          {
            "node": "Set-Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category-Switch": {
      "main": [
        [
          {
            "node": "Execute Sub-LLM-IntroSceneMeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Sub-LLM-IntroSceneMeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Sub-LLM-IntroSceneMeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Sub-LLM-IntroSceneMeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Sub-LLM-IntroSceneMeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Sub-LLM-IntroSceneMeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Sub-LLM-IntroSceneMeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Sub-LLM-IntroSceneMeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute GARDENING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute FAILS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status-Video-Created": {
      "main": [
        [
          {
            "node": "Set-Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-Released-Fails": {
      "main": [
        [
          {
            "node": "Status-Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload-Timer-Fails": {
      "main": [
        [
          {
            "node": "Get-Released-Fails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload-Timer-Default": {
      "main": [
        [
          {
            "node": "Get-Released-Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set-Category": {
      "main": [
        [
          {
            "node": "Category-Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set-Fields": {
      "main": [
        [
          {
            "node": "AutoPublish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "JSON 2 VIDEO Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload-Timer-Long": {
      "main": [
        [
          {
            "node": "Get-Released-Longs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-Released-Longs": {
      "main": [
        [
          {
            "node": "Status-Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AutoPublish": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status-Video-Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-21T16:21:38.140Z",
  "id": "sjPdmZbkohrWTuV8",
  "meta": null,
  "name": "Main_Video_Orchestrator_v2",
  "nodes": [
    {
      "parameters": {
        "content": "## Trigger",
        "height": 1080,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1160,
        260
      ],
      "typeVersion": 1,
      "id": "661911a9-5bdf-42ae-8352-dd3b2fc04174",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Upload Dispatcher",
        "height": 600,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3160,
        740
      ],
      "typeVersion": 1,
      "id": "03b24d89-5bc1-4d0b-9444-aad60b5d2098",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Switching Module",
        "height": 1080,
        "width": 1480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -840,
        260
      ],
      "typeVersion": 1,
      "id": "60c0a600-ded5-4918-8899-22c42ce9bde4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b67fa551-00aa-4b78-8b3a-4973b0d4d3de",
                    "leftValue": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.TargetChannel }}",
                    "rightValue": "Anderer Channel",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2nd channel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.TargetChannel }}",
                    "rightValue": "Bons-AI",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "3304b80c-e2d3-4ee5-82d8-e458e77eac25"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bons-AI"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3260,
        1000
      ],
      "id": "86d19940-1058-4ff4-b685-28b1f32d3092",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ifVS29T0lCtC6baR",
          "mode": "list",
          "cachedResultName": "Sub-Upload-BonsAI-v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3520,
        1100
      ],
      "id": "53d516e9-ccfc-4023-8987-53576846aaa0",
      "name": "Upload: Bons-AI",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GRHiO2c1gxSyc6kV",
          "mode": "list",
          "cachedResultName": "Upload: Second Channel"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3520,
        820
      ],
      "id": "dc0e29ae-1d9a-4564-8fd0-f1ba07331024",
      "name": "Upload: 2nd Channel",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.Category }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1RnXzeBUfKnLTtsa0rsFQfpkChMrWVuC8",
            "mode": "list",
            "cachedResultName": "Categories",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1RnXzeBUfKnLTtsa0rsFQfpkChMrWVuC8"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        980,
        1000
      ],
      "id": "6f31550b-3ce2-4bbf-9a50-b440b21ba5a2",
      "name": "Search For Folder",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.Short }} - {{ $('Main-Video-Orcherstrator-Ingress').item.json[\"Video Title\"] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search For Folder').first().json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1140,
        1000
      ],
      "id": "8bb422ed-75d9-4ef7-a85b-7018289f9fd2",
      "name": "Create-Title-Folder"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1780,
        840
      ],
      "id": "47c101d3-82fb-4b46-bfc3-ccf541da0417",
      "name": "10 Secs",
      "webhookId": "f6688287-5bf6-43e4-b958-8ea8c999d924"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1780,
        1000
      ],
      "id": "b8ad48c6-db9c-453b-98e6-dcdf4fac381f",
      "name": "Wait1",
      "webhookId": "b16c034a-ff8b-4827-976b-408583a642b9"
    },
    {
      "parameters": {
        "url": "https://api.json2video.com/v2/movies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "project",
              "value": "={{ $('JSON 2 VIDEO Upload').item.json.project }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "yourkey"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        1000
      ],
      "id": "5c0bc265-cb5b-4683-bb4e-65623daacf0b",
      "name": "Get-URL",
      "executeOnce": false,
      "retryOnFail": false,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.json2video.com/v2/movies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "yourkey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Edit Fields').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        1000
      ],
      "id": "e0d96099-3856-4c94-89a3-45bb77636f48",
      "name": "JSON 2 VIDEO Upload"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5b858d82-0a7c-44ea-940b-ae83a7c22f3c",
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Done"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2e627457-06c8-411e-b6e0-f2e0207a3882"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6ebbf3c8-599e-451d-acf6-4e63fef69ae0",
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "running",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Running"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e22298ac-6f08-4f73-a361-768a17ea9a3a",
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "preparing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Preparing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2200,
        980
      ],
      "id": "7ea37bc9-32d7-4c8d-bbcc-0c6e959526a9",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "# Video Builder",
        "height": 600,
        "width": 2400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        740
      ],
      "typeVersion": 1,
      "id": "fe75ec71-8cfd-4422-ba92-1c4f9110a00d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "dff561bd-2a33-41ae-8747-ee4f1389aa66",
      "typeVersion": 1.1,
      "name": "Main-Video-Orcherstrator-Ingress",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        120,
        60
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e5265f2c-32e2-4897-a27d-b0f55648327f",
                    "leftValue": "={{ $json['RunStep-Status'] }}",
                    "rightValue": "upload",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "to-UploadDispatcher"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['RunStep-Status'] }}",
                    "rightValue": "builder",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "bbe0d004-97db-4f1e-9e28-440f01108653"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "to-Builder"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        400,
        60
      ],
      "id": "0ae72e44-4757-4103-841b-8100a3b94955",
      "name": "Step Router"
    },
    {
      "parameters": {
        "databaseId": 183,
        "tableId": 755,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 7575,
                "operator": "contains",
                "value": "Released"
              },
              {
                "field": 7586,
                "operator": "contains_not",
                "value": "Fails"
              }
            ]
          },
          "filterType": "AND",
          "order": {
            "fields": [
              {
                "field": 7592
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -720,
        700
      ],
      "id": "7ce80c64-d1a2-45cd-87e4-093c80037602",
      "name": "Get-Released-Videos"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 183,
        "tableId": 755,
        "rowId": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.BaserowID }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 7575,
              "fieldValue": "Video-Created"
            },
            {
              "fieldId": 7593,
              "fieldValue": "={{ $('Get-URL').item.json.movie.created_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2460,
        1000
      ],
      "id": "1dec3432-448c-43a1-8daf-6a147842010e",
      "name": "Status-Video-Created"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "=Released",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d4f8de08-2c0a-4b47-bff8-3c8daa1263d9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Released"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4e99105e-89ba-48bd-9da3-8a2d1aa25e0c",
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "Idea",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Idea"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -520,
        800
      ],
      "id": "b4c4526f-2cb4-4eaf-8e9d-f1e80a17388f",
      "name": "Status-Switch",
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set-Category').item.json.Category.value }}",
                    "rightValue": "=What if",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d4f8de08-2c0a-4b47-bff8-3c8daa1263d9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "What if"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4e99105e-89ba-48bd-9da3-8a2d1aa25e0c",
                    "leftValue": "={{ $('Set-Category').item.json.Category.value }}",
                    "rightValue": "Did you know",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Did you know"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9241ca79-3f9e-494f-87b2-fc70c4d78d69",
                    "leftValue": "={{ $('Set-Category').item.json.Category.value }}",
                    "rightValue": "=Short explainer tech tutorials",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tech Tutorials"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fa34bfbe-4675-4c66-9b6a-9e04c5ac754e",
                    "leftValue": "={{ $('Set-Category').item.json.Category.value }}",
                    "rightValue": "Productivity with AI",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Productivity AI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77bab179-8b13-4724-bfe5-80d76d85271f",
                    "leftValue": "={{ $('Set-Category').item.json.Category.value }}",
                    "rightValue": "AI tools for daily use",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI tools"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c5997264-2851-4aa1-9e0c-46a9e19e2995",
                    "leftValue": "={{ $('Set-Category').item.json.Category.value }}",
                    "rightValue": "Everyday Items You Are Using Wrong",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Everyday Items You Are Using Wrong"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e15eaeab-1cbc-4818-a728-68881decc8ca",
                    "leftValue": "={{ $('Set-Category').item.json.Category.value }}",
                    "rightValue": "Cool Animal Facts",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cool Animal Facts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a116196a-d51c-42ef-9d37-34dfa1d02f7a",
                    "leftValue": "={{ $('Set-Category').item.json.Category.value }}",
                    "rightValue": "This Is Actually Illegal!",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "This Is Actually Illegal!"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e8c0519-57e4-401f-92c7-12e652713395",
                    "leftValue": "={{ $('Set-Category').item.json.Category.value }}",
                    "rightValue": "Gardening",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gardening"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7e8a4b1-fd60-4313-8253-0ff590b2588e",
                    "leftValue": "={{ $('Set-Category').item.json.Category.value }}",
                    "rightValue": "Fails",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fails"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -80,
        700
      ],
      "id": "a07a01f9-0d77-4470-9023-c169ebb0e0a1",
      "name": "Category-Switch"
    },
    {
      "parameters": {
        "content": "## Ingress-Block",
        "height": 240,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "6c9b3bac-e6f0-4d15-8f58-8b2fe12cab7f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Video-Creation-Process",
        "height": 520,
        "width": 920,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1480,
        780
      ],
      "typeVersion": 1,
      "id": "da618c3b-2f1c-438b-958e-3c38e8e533a2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uLuVeS9A0PyGcekh",
          "mode": "list",
          "cachedResultName": "Sub-LLM-Fails"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        420,
        1080
      ],
      "id": "32de925e-003f-4f4e-96d4-65df214c99ea",
      "name": "Execute FAILS",
      "executeOnce": true
    },
    {
      "parameters": {
        "databaseId": 183,
        "tableId": 755,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 7575,
                "operator": "contains",
                "value": "Released"
              },
              {
                "field": 7586,
                "operator": "contains",
                "value": "Fails"
              }
            ]
          },
          "filterType": "AND",
          "order": {
            "fields": [
              {
                "field": 7592
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -720,
        900
      ],
      "id": "7a34e7aa-76f4-46c0-8ede-67ac1221c048",
      "name": "Get-Released-Fails"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "2b110dfe-b096-4dab-a964-e54ea2997310",
      "name": "Upload-Timer-Fails",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        900
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            },
            {
              "triggerAtHour": 11
            },
            {
              "triggerAtHour": 13
            },
            {
              "triggerAtHour": 16
            },
            {
              "triggerAtHour": 21
            },
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "id": "fe563291-0c51-4c23-884f-0ba5090134c2",
      "name": "Upload-Timer-Default",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        700
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 183,
        "tableId": 755,
        "rowId": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.BaserowID }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 7575,
              "fieldValue": "Error"
            },
            {
              "fieldId": 7602,
              "fieldValue": "={{ $('Get-URL').item.json.movie.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2460,
        1180
      ],
      "id": "b5837aff-263a-4b58-9137-246dc696d3d7",
      "name": "Status-Video-Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2NbAtd5jH8CDkfBd",
          "mode": "list",
          "cachedResultName": "Sub-LLM-IntroSceneMeta"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        420,
        880
      ],
      "id": "cd7d3d46-a9e6-4e89-9741-6c3080238eee",
      "name": "Execute GARDENING",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a47e2b9-190a-4738-99e9-1f8eb147d679",
              "name": "Category.value",
              "value": "={{ $json.Category.value }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        800
      ],
      "id": "74de449e-c837-4eb2-bec8-24e6d49c76a6",
      "name": "Set-Category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd296195-120b-4105-9c74-2fec97f9e1b1",
              "name": "projectURL",
              "value": "={{ $('Get-URL').item.json.movie.url }}",
              "type": "string"
            },
            {
              "id": "84c7ad1e-177f-41cc-b708-e7b76ffb8dff",
              "name": "TargetChannel",
              "value": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.TargetChannel }}",
              "type": "string"
            },
            {
              "id": "3b52c01a-2b22-467a-b175-640f15561dac",
              "name": "RunStep-Status",
              "value": "={{ $('Main-Video-Orcherstrator-Ingress').item.json[\"RunStep-Status\"] }}",
              "type": "string"
            },
            {
              "id": "56f43bd4-b4aa-4829-92cd-88d972e38b8b",
              "name": "Video Title",
              "value": "={{ $('Main-Video-Orcherstrator-Ingress').item.json[\"Video Title\"] }}",
              "type": "string"
            },
            {
              "id": "7cdc044a-464c-485d-a32a-6036de19ee9c",
              "name": "Category",
              "value": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.Category }}",
              "type": "string"
            },
            {
              "id": "d29e00f6-53ef-489d-8d26-4cb70a02b653",
              "name": "output.metadata",
              "value": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.output.metadata }}",
              "type": "object"
            },
            {
              "id": "a7403f63-1b43-4c6a-a3b6-cd46b5a6d932",
              "name": "BaserowID",
              "value": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.BaserowID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2660,
        1000
      ],
      "id": "a419145b-6def-43b0-9737-76c11a25688d",
      "name": "Set-Fields",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        1000
      ],
      "id": "81860e67-189c-40dd-9877-a9bab6f2ce85",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2NbAtd5jH8CDkfBd",
          "mode": "list",
          "cachedResultName": "Sub-LLM-IntroSceneMeta"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        420,
        680
      ],
      "id": "cc4a8354-8149-40ca-9eaf-e8724dbb34f9",
      "name": "Execute Sub-LLM-IntroSceneMeta",
      "executeOnce": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "d17ba47c-54a9-4647-9dc6-de2c5243af97",
      "name": "Upload-Timer-Long",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        1100
      ]
    },
    {
      "parameters": {
        "databaseId": 183,
        "tableId": 755,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 7575,
                "operator": "contains",
                "value": "Released"
              },
              {
                "field": 7614,
                "operator": "contains",
                "value": "long"
              }
            ]
          },
          "filterType": "AND",
          "order": {
            "fields": [
              {
                "field": 7592
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -720,
        1100
      ],
      "id": "81b65f39-faf7-4a48-9f9b-66da2393c6fb",
      "name": "Get-Released-Longs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "26208117-bd6f-4b0e-9a5d-9968e3ba4f8f",
              "leftValue": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.AutoPublish }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2860,
        1000
      ],
      "id": "a5063faa-1dff-41de-8a5b-e9ef1f8bed92",
      "name": "AutoPublish",
      "notes": "Determines if the video is sent to the uploader-handler or the flow gets stopped here"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 183,
        "tableId": 755,
        "rowId": "={{ $('Main-Video-Orcherstrator-Ingress').item.json.BaserowID }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 7575,
              "fieldValue": "Error"
            },
            {
              "fieldId": 7602,
              "fieldValue": "=AutoPublish-False"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2860,
        1180
      ],
      "id": "6a1cb9c1-0442-4416-a78b-7889bc6c0bec",
      "name": "Status-Video-Error1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-21T16:24:34.000Z",
  "versionId": "90076165-9084-4354-84d0-e98993cbd119"
}