workflows/sYgcvw9OvsRYcyEQ.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Variablen setzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Code (transform JSON String to JSON Array)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variablen setzen": {
      "main": [
        [
          {
            "node": "OpenAI (Liste Assistenten lesen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI (Liste Assistenten lesen)": {
      "main": [
        [
          {
            "node": "Notion (ziehe alle Kategorien die aktiv sind)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion (ziehe alle Kategorien die aktiv sind)": {
      "main": [
        [
          {
            "node": "Loop Over alle Kathegorien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over alle Kathegorien": {
      "main": [
        [],
        [
          {
            "node": "If (Assistent exist)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI (erstelle Assisten)": {
      "main": [
        [
          {
            "node": "HTTP Request (create Vector Store)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If (Assistent exist)": {
      "main": [
        [
          {
            "node": "HTTP Request (get Vector Store)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI (erstelle Assisten)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (setze existierende assistantID)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (setze erstellte assistantID)": {
      "main": [
        [
          {
            "node": "HTTP Request (set Vector Store to Assistant)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (create Vector Store)": {
      "main": [
        [
          {
            "node": "Edit Fields (setze erstellte assistantID)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (get Vector Store)1": {
      "main": [
        [
          {
            "node": "Edit Fields (setze existierende assistantID)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (set Vector Store to Assistant)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code (transform JSON String to JSON Array)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request (upload file)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (upload file)": {
      "main": [
        [
          {
            "node": "Loop Over alle Kathegorien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-09T09:05:27.139Z",
  "id": "sYgcvw9OvsRYcyEQ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Content Creator Process (CCP)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        -280
      ],
      "id": "ce3ca2c4-bdca-4b08-a14e-ecdcf3c2b14a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "={{ $json.assistantID }}",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=Bitte generiere {{ $('Variablen setzen').item.json.CCP_ideaCountPerCategory }} Ideen.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2060,
        160
      ],
      "id": "631d6812-357e-43c7-85ab-fd76e3eed882",
      "name": "OpenAI2",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75a089bd-6f61-4dd5-bea3-3ef691d1876a",
              "name": "CCP_Zielgruppe",
              "value": "Studierende, Berufseinsteiger, junge Erwachsene.",
              "type": "string"
            },
            {
              "id": "b3c48eea-3009-4b4f-a36b-d72432745dda",
              "name": "CCP_ideaCountPerCategory",
              "value": "3",
              "type": "string"
            },
            {
              "id": "4a7bf95b-7eb5-4410-8b39-b5e51d9db1b3",
              "name": "CCP_assistentPrefix",
              "value": "CCP_brainstormer_assistant_",
              "type": "string"
            },
            {
              "id": "53571b92-d787-4c70-9d89-bca650a2f05b",
              "name": "CCP_assistentVectorStorePrefix",
              "value": "CCP_brainstormer_assistant_VectorStore_",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        -280
      ],
      "id": "943af620-87bb-4174-adcf-4412cae4f6eb",
      "name": "Variablen setzen",
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "list"
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        -280
      ],
      "id": "f5a7b80a-f35e-48c0-a467-3cca2a078e00",
      "name": "OpenAI (Liste Assistenten lesen)",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1ceab5af-d8fd-8023-aa4f-d51a41a44be2",
          "mode": "list",
          "cachedResultName": "SLCategory",
          "cachedResultUrl": "https://www.notion.so/1ceab5afd8fd8023aa4fd51a41a44be2"
        },
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "equals",
              "statusValue": "Active"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "Name|title",
                "direction": "ascending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        -280
      ],
      "id": "8767771f-5664-48b1-b79a-eaba757523e3",
      "name": "Notion (ziehe alle Kategorien die aktiv sind)",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "yDYyBY9jyV4cRvEx",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        -280
      ],
      "id": "76036b97-d59e-494e-9b4f-f5fa2742a93a",
      "name": "Loop Over alle Kathegorien",
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "name": "={{ $('Variablen setzen').item.json.CCP_assistentPrefix + $('Notion (ziehe alle Kategorien die aktiv sind)').item.json.property_assistant_expert_name}}",
        "description": "=Idea Brainstorming Assistant für die Kategorie: {{ $json.name }}",
        "instructions": "=Du bist ein kreativer und strategischer Brainstorming-Assistent. \nDeine Aufgabe ist es, neue, originelle und relevante Content-Ideen für die Kategorie \"{{ $json.name }}\" zu generieren. Die Beschreibung für die Kategorie ist \"{{ $json.property_beschreibung }}\".\n\nZielgruppe: {{ $('Variablen setzen').item.json.CCP_Zielgruppe }}\n\nPrimärer Ausspielungskanal: YouTube  \nContent-Länge: ca. 10 Minuten, maximal jedoch 20 Minuten.  \nSekundäre Kanäle (für spätere Anpassung): TikTok, Instagram, LinkedIn, Podcast-Plattformen\n\nDu hast Zugriff auf externe Wissensquellen (Vektordatenbank). Die Inhalte stammen aus verschiedenen Dateien.  \nVerhalte dich abhängig vom Dateinamen folgendermaßen:\n\n1. Wenn die Datei mit **\"usedIdeas_{{ $('Loop Over alle Kathegorien').item.json.property_assistant_expert_name }}\"** beginnt:\nAlle Ideen in den Dateien, deren Name mit \"usedIdeas_{{ $('Loop Over alle Kathegorien').item.json.property_assistant_expert_name }}\" beginnt, gelten als bereits verwendet.  \nDu darfst KEINE Inhalte generieren, die auch nur im Ansatz diesen ähneln.  \nDas betrifft Wortwahl, Formulierungen, Struktur, Themenkern oder Titelidee.  \nWenn du unsicher bist, ob eine Idee bereits vorhanden war – verzichte auf sie.\n\n2. Wenn die Datei mit **\"inspiration_\"** beginnt:  \n→ Diese Datei enthält Inhalte (z. B. von erfolgreichen YouTube-Kanälen oder Artikeln), die dir zur kreativen Inspiration dienen sollen.  \nDu darfst daraus Ideen ableiten, **aber sie müssen erweitert, angepasst oder neu interpretiert** werden – niemals 1:1 übernommen.\n\nBeziehe dieses Wissen aktiv in deine Überlegungen ein und trenne intern strikt zwischen diesen Quellen.\n\nDenke die Idee primär als Videokonzept für YouTube:\n- Ist das Thema visuell erzählbar?\n- Gibt es starke visuelle Hooks oder Emotionen?\n- Lässt sich daraus eine ansprechende Storyline oder Struktur bauen?\n\nKriterien:\n- Relevanz für die Zielgruppe\n- Potenzial für Engagement\n- Noch nicht behandelte Themen (Vermeide Redundanz)\n- Kreativität, aber realistisch umsetzbar\n\nGeneriere genau **{{ $('Variablen setzen').item.json.CCP_ideaCountPerCategory }}** Ideen pro Anfrage.\n\n🟡 Gib deine Antwort **ausschließlich** im folgenden JSON-Array zurück.  \n⚠️ Keine Kommentare, keine erklärenden Sätze davor oder danach. Nur reines, gültiges JSON.\n\nVerwende exakt diese Struktur:\n\n[\n  {\n    \"title\": \"Beispiel-Idee\",\n    \"description\": \"Kurzbeschreibung der Idee (1–2 Sätze).\",\n    \"relevance\": \"Warum das Thema relevant ist (1 Satz).\",\n    \"problemSolved\": \"Welches Problem wird gelöst (1 Satz).\",\n    \"inScope\": \"Was umfasst das Thema (1 Satz).\",\n    \"outOfScope\": \"Was ist nicht Bestandteil (1 Satz).\",\n    \"keywords\": [\"Begriff1\", \"Begriff2\", \"Begriff3\", \"Begriff4\", \"Begriff5\", \"Begriff6\", \"Begriff7\", \"Begriff8\", \"Begriff9\", \"Begriff10\"]\n  },\n  ...\n]",
        "knowledgeRetrieval": "={{ false }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        920,
        60
      ],
      "id": "4165f68c-8dbf-49ad-9ca7-5ff2c82061d9",
      "name": "OpenAI (erstelle Assisten)",
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "634381ab-dc10-4bd0-a78f-02ec44867a70",
              "leftValue": "={{$('Variablen setzen').item.json.CCP_assistentPrefix + $json.property_assistant_expert_name }}",
              "rightValue": "={{ $('OpenAI (Liste Assistenten lesen)').item.json.name }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -160
      ],
      "id": "b756d3af-22f6-4825-b3a2-6506075b3dbc",
      "name": "If (Assistent exist)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc3f6b87-287d-4d1a-9b07-39f861739325",
              "name": "assistantID",
              "value": "={{ $('OpenAI (Liste Assistenten lesen)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "00c99075-0c71-49dc-b85d-9a9e3edac5c5",
              "name": "vectorStoreID",
              "value": "={{ $json.tool_resources.file_search.vector_store_ids[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        -180
      ],
      "id": "bd44254f-4de0-467a-9393-96006ec3da2b",
      "name": "Edit Fields (setze existierende assistantID)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9b5ccc9-c7b4-42c6-87f5-b82e16b45a13",
              "name": "assistantID",
              "value": "={{ $('OpenAI (erstelle Assisten)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "fb998290-376a-4388-bf87-40fef2a0fac0",
              "name": "vectorStoreID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        80
      ],
      "id": "f9094f8e-62ce-4f4a-9d62-05349a5bbb91",
      "name": "Edit Fields (setze erstellte assistantID)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/vector_stores",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Variablen setzen').item.json.CCP_assistentVectorStorePrefix + $('Notion (ziehe alle Kategorien die aktiv sind)').item.json.property_assistant_expert_name}}\",\n  \"expires_after\": {\n    \"anchor\": \"last_active_at\",\n    \"days\": 365\n  },\n  \"metadata\": {\n    \"category\": \"{{ $('Notion (ziehe alle Kategorien die aktiv sind)').item.json.property_name }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        120
      ],
      "id": "1c3ecab3-58de-430f-b94f-0f0b07b992eb",
      "name": "HTTP Request (create Vector Store)",
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/assistants/{{ $('OpenAI (Liste Assistenten lesen)').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        -180
      ],
      "id": "5d1adf62-8ed4-4563-9dae-5d7933226a21",
      "name": "HTTP Request (get Vector Store)1",
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/assistants/{{ $('OpenAI (erstelle Assisten)').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tool_resources\": {\n    \"file_search\": {\n      \"vector_store_ids\": [\"{{ $json.vectorStoreID }}\"]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        60
      ],
      "id": "6fc4605f-036f-44db-a4f3-e6d20d04f31b",
      "name": "HTTP Request (set Vector Store to Assistant)",
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Hole den JSON-String aus der Antwort des Assistant\nconst ideasRaw = $input.first().json.output;\n\n// Parsen des Strings in ein Array\nlet ideas;\ntry {\n  ideas = JSON.parse(ideasRaw);\n} catch (e) {\n  throw new Error('Fehler beim Parsen von Assistant-Ausgabe: ' + e.message);\n}\n\nconst categoryName = 'agile'; // Du kannst das später auch dynamisch machen\nconst now = new Date();\nconst timestamp = now.toLocaleString('sv-SE', { timeZone: 'Europe/Berlin' }).replace(/[-: ]/g, '').slice(0, 14);\n\nconst textOutput = ideas.map(idea => {\n  return `### ${idea.title}\n\n${idea.description}\n\nRelevanz: ${idea.relevance}  \nProblem gelöst: ${idea.problemSolved}  \nIn Scope: ${idea.inScope}  \nOut of Scope: ${idea.outOfScope}  \nKeywords: ${idea.keywords.join(', ')}\n\n---`;\n}).join('\\n\\n');\n\n// Rückgabe für nächste Nodes (z. B. Google Drive Upload)\nreturn [\n  {\n    json: {\n      text: textOutput,\n      filename: `data_${categoryName}_${timestamp}.txt`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        160
      ],
      "id": "f4978550-0d4a-4043-b1c9-2c5717c6a081",
      "name": "Code (transform JSON String to JSON Array)",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f794c34-70f1-4f24-9316-457b082c8b03",
              "name": "fileName",
              "value": "=usedIdeas_{{ $('Loop Over alle Kathegorien').item.json.property_assistant_expert_name }}_{{ new Date().toLocaleString('sv-SE', { timeZone: 'Europe/Berlin' }).replace(/[- :]/g, '') }}.txt",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2600,
        160
      ],
      "id": "f6562a07-326c-4b9f-8dfa-78e48bbdd223",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const content = $('Code (transform JSON String to JSON Array)').first().json.text;\nconst fileName = $input.first().json.fileName;\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: Buffer.from(content, 'utf8').toString('base64'),\n        mimeType: 'text/plain',\n        fileName,\n      },\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2760,
        160
      ],
      "id": "c56c8df4-c050-4fa0-bea2-4c5c1274d9bb",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "=file",
              "inputDataFieldName": "=data"
            },
            {
              "name": "purpose",
              "value": "assistants"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2920,
        160
      ],
      "id": "4a23e80f-54ff-44c8-99bd-a881c870d39a",
      "name": "HTTP Request (upload file)",
      "credentials": {
        "openAiApi": {
          "id": "xSvlcZNPoASPwcvk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2260,
        -240
      ],
      "id": "2f66d2c5-1249-45f9-b883-5b8923afc337",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const assistantCreated = $('Edit Fields (setze erstellte assistantID)').first()?.json || {};\nconst assistantExisting = $('Edit Fields (setze existierende assistantID)').first()?.json || {};\n\nconst assistantID = assistantExisting.assistantID || assistantCreated.assistantID || assistantCreated.id;\nconst vectorStoreID = assistantExisting.vectorStoreID || assistantCreated.vectorStoreID || assistantCreated.tool_resources?.file_search?.vector_store_ids?.[0];\n\nreturn {\n  assistantID,\n  vectorStoreID\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        -260
      ],
      "id": "90ec6108-66df-4504-868d-7efb7c0ec0c9",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-10T23:53:56.000Z",
  "versionId": "7c05db83-0645-40d5-a9be-f0d02e66c52e"
}